web/WebContent/day12/HW/hw1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT 사원 (명함)+ >
<!ELEMENT 명함 (회사명, 부서, 성명, 주소+, 전화+ , 팩스?) >
<!ELEMENT 주소 ((( 시,구 ) | ( 도,시 )), 동) >




<!ELEMENT 회사명 (#PCDATA) >
<!ELEMENT 부서 (#PCDATA) >
<!ELEMENT 성명 (#PCDATA) >
<!ELEMENT 전화 (#PCDATA) >
<!ELEMENT 팩스 (#PCDATA) >

<!ELEMENT 시 (#PCDATA) >
<!ELEMENT 구 (#PCDATA) >
<!ELEMENT 도 (#PCDATA) >
<!ELEMENT 동 (#PCDATA) >


<!ATTLIST 성명 사번 CDATA #REQUIRED>
<!--부서, 성명, 주소, 전화, 팩스 하위 엘리먼트들 -->
